:root {
  --dark-black: #1c1c25;
  --smoke: #c4c4c4;
  --blue: #2a4bb3;
  --medium-black: #25252f;
  --black: #101016;
  --soft-black: #3b3b44;
  --dark-blue: #213e9a;
  --black-blue: #1f367e;
  --dark-red: #95234c;
  --dark-yellow: #b58622;
  --dark-purple: #4548a9;
  --red: #e72a6e;
  --yellow: #ecb236;
  --white-smoke: #f7efdd;
  --purple: #7174db;
  --green: #44ac9e;
  --dark-green: #267267;
  --light-blue: #536cbb;
}

* {
  box-sizing: border-box !important;
}

/* 로딩 화면 스타일 */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

input,
textarea {
  outline: none;
}

h1 {
  position: relative;
  font-weight: bold;
}

h1,
h1::after {
  margin: 0;
  background: linear-gradient(90deg in lch longer hue, oklch(105% 90% 0) 0 0);
  /*   background: linear-gradient(90deg in hsl longer hue, hsl(0 100% 70%) 0 0); */
  background-size: 500% 100%;
  animation: blend 30s infinite linear;
  color: transparent;
  background-clip: text;
}

h1::after {
  content: "Hello.";
  filter: blur(8px);
  position: absolute;
  /*   z-index: -1; */
  left: 0;
  mix-blend-mode: plus-lighter;
}

@keyframes blend {
  to {
    background-position: 500% 100%;
  }
}

body {
  background-color: var(--dark-black);
  color: var(--smoke);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: Greycliffcf, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

#body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 13px;
  font-family: Greycliffcf, sans-serif;
  overflow-x: hidden;
  background-color: var(--dark-black);
  color: var(--smoke);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: Greycliffcf, sans-serif;
  font-weight: 700;

  background-color: rgba(0, 0, 0, 0);
  background-image: radial-gradient(
      circle,
      rgba(229, 229, 229, 0.03) 20%,
      transparent 10%
    ),
    radial-gradient(circle, rgb(0 0 0 / 3%) 20%, transparent 10%);
  background-size: 1em 1em;
  background-position: 50% 50%;
}

main {
  border-radius: 7px;
  /* border-left: 18px solid black;
  border-right: 18px solid black;
  border-top: 14px solid black;
  border-bottom: 14px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  /* body의 배경과 동일하게 설정하여 내부만 선명하게 유지 */
  background-position: center;
}

header {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dcd7c9;
}

/* 흐림 효과를 위한 별도 컨테이너 */
.blur-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 0;
}

h5 {
  font-size: 16px;
  color: #f1f1f1;
}

.icon-wrap > div {
  transition: all.2s;
  cursor: pointer;
}

.icon-wrap > div:hover {
  transform: scale(1.3);
}

.icon-wrap {
  margin: auto auto 12px auto;
  border-radius: 24px;
  padding: 0 12px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;
}

.floating-window,
.floating-contract-window {
  top: 0px;
  position: absolute;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 9999;
  font-family: "NanumSquareNeo-Variable";
  visibility: visible;
  opacity: 0;
  transform: scale(0.8);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.floating-window.show {
  transform: scale(1);
  opacity: 1;
  display: block;
}

.floating-contract-window.center {
  transform: translate(-50%, -50%) scale(1); /* 두 속성을 하나로 합침 */
  opacity: 1;
  display: block;
  left: 50%;
  top: 40%;
  background: rgba(240, 238, 238, 0.8); /* 반투명한 핑크 배경 */
}

#icon-wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: -1;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #e6e6e6;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  top: 0px;
  width: 100%;
}

.window-controls {
  display: flex;
}

.window-minimize {
  background-color: #f7d54a;
}
.window-maximize {
  background-color: #62c462;
}

.window-close {
  background-color: #ee5f5b;
}

.window-minimize:hover,
.window-maximize:hover,
.window-close:hover {
  transform: scale(1.5);
}

.window-minimize,
.window-maximize,
.window-close {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
  transition: all.3s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.device__line {
  background-color: var(--black-blue);
  height: 0.3em;
  margin-top: 1em;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  padding: 0.125em;
  background-image: linear-gradient(to bottom, #d5d5d5, #e8e8e8);
  box-shadow: 0 1px 1px rgb(255 255 255 / 0.6);
  /* resize for demo */
  font-size: 1.5em;
}

.toggle-checkbox {
  appearance: none;
  position: absolute;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  /* fix em sizing */
  font: inherit;
  opacity: 0;
  cursor: pointer;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.375em;
  width: 3em;
  height: 1.5em;
  background-color: #e8e8e8;
  box-shadow: inset 0 0 0.0625em 0.125em rgb(255 255 255 / 0.2),
    inset 0 0.0625em 0.125em rgb(0 0 0 / 0.4);
  transition: background-color 0.4s linear;
}

.toggle-checkbox:checked + .toggle-container {
  background-color: #f3b519;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.0625em;
  border-radius: 0.3125em;
  width: 1.375em;
  height: 1.375em;
  background-color: #e8e8e8;
  box-shadow: inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
  transition: left 0.4s;
}

.toggle-checkbox:checked + .toggle-container > .toggle-button {
  left: 1.5625em;
}

.toggle-button-circles-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 0.125em;
  position: absolute;
  margin: 0 auto;
}

.toggle-button-circle {
  border-radius: 50%;
  width: 0.125em;
  height: 0.125em;
  background-image: radial-gradient(circle at 50% 0, #f5f5f5, #c4c4c4);
}

.dark {
  background-image: radial-gradient(
    ellipse at bottom,
    #0d1d31 0%,
    #0c0d13 100%
  );
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.small-screw.is--grey {
  background-color: var(--soft-black);
}
.small-screw {
  border-radius: 100%;
  width: 0.54em;
  min-width: 0.54em;
  height: 0.54em;
  min-height: 0.54em;
}

.card-dots__img {
  object-fit: contain;
  width: 3.47em;
  height: 2em;
}

.window-content {
  padding: 12px;
  color: #4d4d4d;
  overflow: auto;
  height: 100%;
  padding-top: 52px;
  padding-bottom: 52px;
}
